
@model RekenMachine
<!DOCTYPE html>
<html>
<head>
    <title>Rekenmachine</title>
</head>
<body>
    <p>@Model.Getal1 @Model.Bewerking.ToOperator() @Model.Getal2 = @String.Format("{0:N2}", Model.Resultaat)</p>

</body>
</html>
