@model Reis
<!DOCTYPE html>
<html>
<head><title>Op reis</title></head>
<body>
    U gaat naar @Model.Bestemming van @Model.StartDatum.ToLongDateString() tot @Model.EindDatum.ToLongDateString()
</body>
</html>
