<!DOCTYPE html>
<html>
<head>
    <title>Begroeting</title>
</head>
<body>
    <form action="/Home/Index" method="post">
        <label>Voornaam: <input type="text" name="voornaam" /></label>
        <label>Achternaam: <input type="text" name="achternaam" /></label>
        <input type="submit" value="Verzenden" />
    </form>
</body>
</html>
