@model Blog
<form asp-action="Create">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <label asp-for="Omschrijving"></label>
    <input asp-for="Omschrijving" />
    <input type="submit" value="Toevoegen" />
    <a asp-action="Index">Annuleren</a>
</form>
